// Alice M., 1/3/2016

body {

  .site-wrapper {
    background-color: #37103B;
  }

  h1, h2, h3 { color: #80FF00; }
  h1 {
    margin-top: 9px;
  }

  a {
    color: #80FF00;
    border-bottom: 1px solid white;
    /*font-weight: bold;*/

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  img {
    border: 5px solid white;
    width: 100%;
  }

  .inner.cover {
    background-color: #000;
    border-radius: 20px;
    padding: 30px;
  }

  .mastfoot {
    text-align: center;
  }
}

@media (min-width: 992px) {
  body {
    text-align: left;
  }
}

